*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header{
    .container{
        .row{
            .col-md-2{
                img{
                    width: 210px;
                    // object-fit: cover;
                }
            }
            .col-md-8{
                nav{
                    .nav{
                        ul>li{
                            position: relative;
                            &:hover >.home-list{
                                visibility: visible;
                                height: 270px;
                                transition: 1s;
                                opacity: 100%;
                            }
                            &:hover>.pages-list{
                                visibility: visible;
                                height: 150px;
                                transition: 1s;
                                opacity: 100%;
                            }
                            a{
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background-color: black;
                                    width: 0%;
                                    height: 1px;
                                    bottom: -4px;
                                    left: 0px;
                                    transition: 0.5s;

                                 
                                }

                                &:hover::before{
                                    content: "";
                                    position: absolute;
                                    background-color: black;
                                    height: 1px;
                                    bottom: -4px;
                                    left: 0px; 
                                   width: 100%;
                                }
                                
                            }
                            .home-list{
                                position: absolute;
                                top: 30px;
                                width: 150px;
                              visibility: hidden;
                                height: 0px;
                               opacity: 0%;
                               overflow: hidden;
                                transition: 1s;
                                z-index: 20;
                                background-color: white;

                            }

                            .pages-list{
                                position: absolute;
                                top: 30px;
                                width: 150px;
                                visibility: hidden;
                                height: 0px;
                                opacity: 0%;
                                overflow: hidden;
                                transition: 1s;
                                z-index: 20;
                                background-color: white;

                            }
                        }
                    }
                }
                .nav-card{
                    .fa-magnifying-glass{
                        transition: 0.5s;
                        color: black;
                        cursor: pointer;
                        &:hover{
                        color: #f5675a;
                    }
                }
                }
            }
        }
    }
}

a{
    text-decoration: none;
    color: black;
}




#filter-flowers{
    ul{
        display: flex;
        li{
            list-style: none;
            margin: 20px;
            font-size: 18px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element{
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span
                    {
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            img{
                width: 80%;
                height: 300px;
                margin: 0 auto;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                  opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}

// #slider-own{
//    #carouselExampleInterval{
// .carousel-inner{
//    .carousel-item{

//        img{
//            height: 600px !important;
//        }
//    }
// }


//    }
// }

.carousel{
    .carousel-inner{
        position: relative;
        .carousel-text{
            position: absolute;
            z-index: 1;
            font-family: 'Playfair Display', serif;
            left: 321px;
            top: 130px;

            img{
                margin-top:40px;
                width: 220px;
            }
            .carousel-title{
                line-height: 50px;
                letter-spacing: 0px;
                font-weight: 400;
                font-size: 80px;
                margin: 0;
                span{color: #f34f3f;}
            }
            .carousel-title-text{
            //    display: none;
                width: 497px;
                height: 88px;
                font-weight: 400;
                font-size: 20px;
                color: rgb(109, 106, 106);
                margin: 0;
                margin-top: 25px;
            }

            .carousel-item{
                transition: 3s;
                img{
                    margin-top: 20px;
                    
                }
            }
            // .carousel-item:hover img{
                // display: none !important;
                // transform: scale(1.5);
            // }
          
        }

        .carousel-item{
            img{
                animation: zoom-in-zoom-out 15s ease infinite;
            }   
            
            }


            
            @keyframes zoom-in-zoom-out {
                0% {
                  transform: scale(1, 1);
                }
                100% {
                  transform: scale(1.3, 1.3);
                }
              }
            }}

//             transition: all 1s;
//             cursor: pointer;

//                 transform:scale(1);
//                 overflow: hidden;
//                 display: none;
//             }
//             &:hover img{
// transform: scale(1.3);
//             }

// }






// .col-lg-12{
//     ul{
//         li{
//             cursor: pointer;
//         }
//     }
// }}}}



#valentine{
    .container-fluid{
        background-color: #f7f7f7;
        .container{
            .row{
                .col-md-6{
                    .valentine-img{
                        position: relative;
                        overflow: hidden;
                        height: 420px;
                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                        }

                        a{
                            position: absolute;
                            width: 85px;
                            height: 80px;
                            border-radius: 50%;
                            top: 44%;
                            left: 40%;
                        }
                        img{
                            height: 420px;
                            transition: 0.5s;

                        }
                        i{
                            position: absolute;
                            padding: 32px 35px;
                            padding-left: 40px;
                            font-size: 25px;
                            background-color: white;
                            color: #f5675a;
                            border-radius: 50%;
                            top: -5px;
                            left: -5px;
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
}

#flower-experts{
    .container{
        .row{
            .col-md-3{
                .expert-card{
                    text-align: center;
                    .expert-card-content{
                        margin-top: 15px;
                        p:first-child {
                            font-size: 14px;
                        }
                        p:nth-child(2){
                            color: rgb(184, 179, 179);
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#subcribe{
    .container-fluid{
        background-image: url("/assets/img/parallax-background.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:auto;
        .row{
            .col-md-6{
                .input-group{
                    input{
                        padding: 15px;
                        font-size: 12px;
                        color: rgb(184, 179, 179);
                        &::placeholder{
                        color: rgb(184, 179, 179);
                        }

                    }
                    a{
                        background-color: #f5675a;
                        color: white;
                        width: 150px;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

#from-our-blog{
    .container-fluid{
        background-color: #f8f8f8;
        padding: 100px 0;
        .container{
            .row{
                .col-md-4{
                    .blog-card{
                        position: relative;
                        .blog-card-img {
                            width: 419px;
                            height: 268px;
                            overflow: hidden;
                            &:hover{
                                img{
                                    transform: scale(1.1);
                                }
                            }
                            img{
                            width: 419px;
                            height: 268px;
                            transition: .5s;
                        }
                    }
                        .blog-card-content{
                            padding: 10px;
                            p{
                                font-size: 14px;
                                color: #6d6a85;
                            }
                        }
                        .datetime{
                            background-color: white;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            padding: 4px 10px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}






#experd-slide{
    .carousel{
        .carousel-inner{
            margin: 0 auto;
            width: 1000px;
            .carousel-item{
                padding: 30px;


             
                .carousel-item-img {
                  img{
                    width: 70px;
                    height: 70px;
                    animation: zoom-in-zoom-out 15s ease infinite;
                  }    
                  
                  
                  }
                  @keyframes zoom-in-zoom-out {
                    0% {
                      transform: scale(1, 1);
                    }
                    100% {
                      transform: scale(1.3, 1.3);
                    }
                  }}}

                .carousel-item-content{
                    // h3{
                        
                    // }
                    p:nth-child(2){
                        font-size: 13px;
                    }
                    p:nth-child(3){
                        font-size: 11px;
                    }
                }
            }
        }



ul{
list-style-type: none;
}

footer{
background-color: #fefaf3;
.container{
    .row{
        .col-md-3{
            .footer-list{
                line-height: 30px;
                P{
                    font-size: 12px;
                }
                ul>li>a{
                    color: grey;
                    font-size: 11px;
                    &:hover{
                        color: #f5675a;
                    }
                }
            } 
        }

        .col-md-4{
            p{
                font-size: 12px;
            }
            a{
                font-size: 10px;
                color: #6d6a85;
                transition: 0.5s;
                &:hover{
                    color: #f5675a;
                }
            }
        }
    }
}

#button {
    display: inline-block;
    background-color: #f5675a;
    width: 50px;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  

}



.modal-body{
height: 315px;
}

.active-catogory-item{
color: #f5675a;
}
